@media only screen and (max-width: 767px){
  .hexagon-card {
    flex: 0 0 100px;
    max-width: 100px;
  }

  .hexagon-card__text {
    flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
    word-wrap: break-word;
  }
}

@media only screen and (min-width: 768px){
  .couple-intro .container {
    padding: 0 40px;
  }
}