.menu-icon {
  position: relative;
  width: 18px;
  height: 24px;
}

.menu.active .line--2,
.menu.active .line--3 {
  width: 16px;
}

.menu-icon .line {
  height: 2px;
  background-color: #70675A;
  border-radius: 1px;
  position: absolute;
  left: 0;
  transition: width 0.1s ease-in-out;
}

.menu-icon .line--1 {
  width: 16px;
  top: 6px;
}

.menu-icon .line--2 {
  width: 10px;
  top: 11px;
}

.menu-icon .line--3 {
  width: 12px;
  top: 16px;
}