.hexagon {
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  flex-shrink: 0;
  width: 100px;
  height: 130px;
}

.hexagon-card--left .hexagon-inner2 {
  background-position: 20%;
}

.hexagon-card--right .hexagon-inner2 {
  background-position: 45% 58%;
  background-size: 200%;
}

.hexagon-inner1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
}

.hexagon-inner2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  visibility: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .hexagon {
    width: 120px;
    height: 160px;
  }
}

@media only screen and (min-width: 1024px) {
  .hexagon {
    width: 250px;
    height: 300px;
  }
}

.hexagon-card {
  position: relative;
}

.hexagonsvg1,
.hexagonsvg2,
.hexagonsvg3 {
  position: absolute;
  top: -30px;
  left: -42px;
  width: 185%;
  /* z-index: 1; */
}

.hexagonsvg1 {
  transform: rotate(30deg);
}

.hexagonsvg2 {
  transform: rotate(-15deg);
}

@media only screen and (min-width: 768px) {
  .hexagonsvg1,
  .hexagonsvg2,
  .hexagonsvg3 {
    top: -34px;
    left: -51px;
  }
}

@media only screen and (min-width: 1024px) {
  .hexagonsvg1,
  .hexagonsvg2,
  .hexagonsvg3 {
    top: 50%;
    left: 50%;
  }

  .hexagonsvg1 {
    transform: translate(calc(-50% - 0px), calc(-50% - 7px)) rotate(30deg);
  }

  .hexagonsvg2 {
    transform: translate(calc(-50% - 0px), calc(-50% - 7px)) rotate(15deg);
  }

  .hexagonsvg3 {
    transform: translate(calc(-50% - 0px), calc(-50% - 7px)) rotate(0deg);
  }
}

.hexagonsvg1 path,
.hexagonsvg2 path {
  fill: none;
  stroke: #968a78;
  stroke-width: 1;
}