.banner-carousel {
  position: relative;
}

.banner-slide {
  position: relative;
}

/* .banner-carousel__frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.banner-carousel__frame:before,
.banner-carousel__frame:after {
  content: '';
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  border: 2px solid #968a78;
  display: block;
  z-index: 1;
}

.banner-carousel__frame:after {
  top: 34px;
  left: 34px;
  right: 34px;
  bottom: 34px;
  width: calc(100% - 68px);
  height: calc(100% - 68px);
} */

@media only screen and (max-width: 767px){
  .banner-slide {
    height: 90vh;
  }
}

@media only screen and (min-width: 768px){
  .banner-slide {
    padding-top: calc(9 / 16 * 100%);
    display: block !important;
  }
}

.banner-slide:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.25);
}

.banner-slide img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner-carousel__text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 88%;
}

@media only screen and (max-width: 767px){
  .banner-carousel__text {
    top: 75%;
  }
}

@media only screen and (min-width: 768px){
  .banner-carousel__text {
    top: 65%;
  }
}

.banner-carousel__text h1 {
  font-size: 2.25em;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

@media only screen and (min-width: 540px){
  .banner-carousel__text h1 {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 768px){
  .banner-carousel__text h1 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1024px){
  .banner-carousel__text h1 {
    font-size: 4em;
  }
}

.banner-carousel__text p {
  font-size: 0.875em;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

@media only screen and (min-width: 768px){
  .banner-carousel__text p {
    font-size: 1em;
  }
}