@-moz-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

.menu {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 10;
}

@media only screen and (max-width: 767px) {
  .menu {
    top: auto;
    right: 20px;
    bottom: 40px;
  }
}

.menu a {
  cursor: pointer;
}

.menu .active {
  color: #70675A;
}

.menu nav {
  visibility: hidden;
  transform: scale(0);
  transform-origin: calc(100% - 57px) 0%;
}

@media only screen and (max-width: 767px) {
  .menu nav {
    transform-origin: calc(100% - 57px) 100%;
  }
}

.menu.active nav {
  visibility: visible;
  animation: growOut 0.2s ease-in-out forwards;
}

