.get-guest-response-form {
  margin: 40px auto;
  max-width: 720px;
}

.get-guest-response-form__body {
  margin: 0 0 16px;
  padding: 32px 24px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  background-color: #fff;
  position: relative;
}

.get-guest-response-form__body .mb-3 {
  position: relative;
}

.get-guest-response-form__body:last-child {
  margin: 0;
}

.get-guest-response-form__footer {
  display: flex;
  justify-content: space-between;
}

.get-guest-response-form__footer button {
  width: 100%;
}
