.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding: 6px 4px 6px 0;
  border-radius: 8px;
  border: 1px solid #ced4da;
}

.suggestions-list p {
  margin: 0;
  padding: 8px 20px;
}

.suggestions-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.suggestions-list ul::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}

.suggestions-list ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.suggestions-list ul::-webkit-scrollbar-thumb {
  background: #0ABAB5;
  border-radius: 3px;
}

.suggestions-list ul::-webkit-scrollbar-thumb:hover {
  background: #088E8B;
}

.suggestions-list li {
  background-color: #fff;
  padding: 0 12px;
  transition: all 0.3s ease-in-out;
}

.suggestions-list li:hover {
  background-color: #0ABAB5;
}

.suggestions-list li:hover button {
  color: #fff;
}

.suggestions-list button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
