.custom-checkbox {
  margin: 0 16px 4px 0;
}

.custom-checkbox--inline {
  display: inline-block;
}

.custom-checkbox input {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.custom-checkbox label {
  display: inline-block;
  line-height: 24px;
  padding: 0 0 0 24px;
  position: relative;
  cursor: pointer;
}

.custom-checkbox label:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 0;
  border: 1px solid #ced4da;
  background-color: #fff;
}

.custom-checkbox label:after {
  content: '';
  width: 12px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 4px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(-45deg) scale(2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

.custom-checkbox input:checked + label:before {
  background-color: #0ABAB5;
  border-color: #0ABAB5;
}

.custom-checkbox input:checked + label:after {
  opacity: 1;
  visibility: visible;
  transform: rotate(-45deg) scale(1);
}