.custom-radio {
  margin: 0 16px 4px 0;
}

.custom-radio--inline {
  display: inline-block;
}

.custom-radio input {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.custom-radio label {
  display: inline-block;
  line-height: 24px;
  padding: 0 0 0 24px;
  position: relative;
  cursor: pointer;
}

.custom-radio label:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 0;
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 50%;
}

.custom-radio label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: 5px;
  border-radius: 50%;
  background-color: #fff;
  transform: rotate(-45deg) scale(2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

.custom-radio input:checked + label:before {
  background-color: #0ABAB5;
  border-color: #0ABAB5;
}

.custom-radio input:checked + label:after {
  opacity: 1;
  visibility: visible;
  transform: rotate(-45deg) scale(1);
}